:root {
  --color-logo-text: #000000;
  --color-primery-text: #757575;
  --color-text-logonav: #2196f3;
  --color-secondery-text: #212121;
  --color-hero-title: #ffffff;
  --color-footer-text: rgba(255, 255, 255, 0.6);
  --color-bgn-hero: #2f303a;
  --color-bgn-btn: #f5f4fa;
  --color-border-header: #ececec;
  --color-border-main: #eeeeee;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-primery-text);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.conteiner {
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid tomato;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

ul {
  padding-left: 0;
}

* {
  /* outline: 1px solid tomato; */
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--color-text-logonav);
}

.linksecondery {
  text-decoration: none;
}

.current {
  color: var(--color-text-logonav);
}

.logo {
  color: var(--color-text-logonav);
}

.btn {
  font-family: inherit;
  cursor: pointer;
  border-radius: 6px;
  border: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Header */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--color-border-header);
}

.header-conteiner {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-item:not(:first-child) {
  margin-left: 50px;
}
.header-list-contact {
  display: flex;
  margin-left: auto;
}

.contacts-wrap {
}

.header-logo {
  font-family: "Raleway", sans-serif;
  color: var(--color-logo-text);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  display: block;
  margin-right: 93px;
}

.header-link {
  color: var(--color-secondery-text);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.header-link-contact {
  color: var(--color-primery-text);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.header-item-contact:not(:last-child) {
  margin-right: 50px;
}

/* Main index.html */

/* Hero */

.hero {
  background-color: var(--color-bgn-hero);
  text-align: center;
  padding: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--color-hero-title);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin: 0 auto 30px;
}

.hero-btn {
  color: var(--color-hero-title);
  background-color: var(--color-text-logonav);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  min-width: 216px;
  padding: 10px 32px;
}

/* Function */

.function {
  padding-top: 94px;
  padding-bottom: 47px;
}

.function-item-title {
  color: var(--color-secondery-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* Occupation, Team */

.ocupation {
  padding-top: 47px;
  padding-bottom: 94px;
}

.ocupation-title,
.team-title {
  color: var(--color-secondery-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

.team {
  background-color: var(--color-bgn-btn);
  padding-top: 94px;
  padding-bottom: 94px;
}

.conteiner-team {
  background-color: var(--color-hero-title);
  max-width: 270px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border: 1px solid var(--color-border-header);
  border-top: none;
  border-radius: 0px 0px 4px 4px;
}

.team-item-img {
  display: block;
}

.team-item-tetle {
  color: var(--color-secondery-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin: 10px;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.2;
}

/* Main portfolio.html.html */

/* Hero */

.functional {
  padding-top: 94px;
  padding-bottom: 94px;
}

.functional-list {
  margin-bottom: 50px;
}

.pictures-img {
  display: block;
}

.function-btn {
  color: var(--color-secondery-text);
  background-color: var(--color-bgn-btn);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: inherit;
  min-width: 73px;
  padding: 6px 22px;
}

.function-btn:hover,
.function-btn:focus {
  color: var(--color-hero-title);
  background-color: var(--color-text-logonav);
}

.pictures-link {
  text-decoration: none;
  display: inline-block;
}

.conteiner-pictures {
  padding: 20px 24px;
  border: 1px solid var(--color-border-main);
  border-top: none;
}

.pictures-title {
  color: var(--color-secondery-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  max-width: 322px;
  margin-bottom: 4px;
}

.pictures-text {
  color: var(--color-primery-text);
  font-size: 16px;
  line-height: 1.9;
  max-width: 322px;
}

/* Footer */

.footer {
  background-color: var(--color-bgn-hero);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  color: var(--color-hero-title);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  display: inline-block;
  margin-bottom: 20px;
}

.footer-address {
  font-style: normal;
  max-width: 231px;
}

.footer-link {
  color: var(--color-hero-title);
  display: inline-block;
  margin-bottom: 9px;
}

.footer-contact {
  color: var(--color-footer-text);
  display: block;
  margin-bottom: 9px;
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--color-hero-title);
}
